/* -----------///////////////////BODY STYLING///////////////////----------- */



*{
  box-sizing:border-box;
  border-collapse:inherit;
  text-rendering:optimizeLegibility;
  -moz-osx-font-smoothing:grayscale;
  -webkit-font-smoothing:antialiased;
  -webkit-tap-highlight-color:transparent;
}


body,
html {
  background-color: #1f1f1f;
  text-rendering:optimizeLegibility;
  text-rendering:geometricPrecision;
  -moz-osx-font-smoothing:grayscale;
  -webkit-font-smoothing:antialiased;
  font-family:'Poppins',serif;
  min-height:-webkit-fill-available;
  letter-spacing:-.2px;
  scroll-behavior:smooth;
  color: #fff;
}


body {
  padding: 0;
  margin: 0;
}

/* width of the entire scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

/* color of the tracking area */
::-webkit-scrollbar-track {
  background: #1f1f1f;
}

::-webkit-scrollbar-thumb {
   background-color: #990000;   /* color of the scroll thumb */
  border-radius: 20px;      /*  roundness of the scroll thumb */
  /*  border: 3px solid orange; creates padding around scroll thumb */

}


*:focus{
  outline:none;
}


::selection{
  background: #990000;
  color:#fff;
  -webkit-text-fill-color:#fff;
  -moz-text-fill-color:#fff;
}


a {
  text-decoration:none;
}



/*----------- ///////////////////NAV BAR STYLING/////////////////// -----------*/



.navbar {
  margin: 0 auto;
  /* position: absolute; */
  /* border: 5px solid #a58945; */
}


.navbar:after {
  content: "";
  display: block;
  clear: both;
}


.socials {
  float:left;
  width: 29.33%;
  margin: 1%;
  padding: 1%;
}


.logo {
  float:left;
  width: 29.33%;
  margin: 1%;
  padding: 1%;
}


.menu-icon {
  float:left;
  width: 29.33%;
  margin: 1%;
  padding: 1%;
}


.media-link {
  font-size: 25px;
  margin-right:10px;
  display:inline-block;
  padding:5px;
}


.media-link svg {
  fill:#a58945;
  transition: transform .5s;
  width: 12%;
  height: 12%;
  width:25px;
  height: 25px;
}


.media-link svg:hover {
  fill: #990000;
  transform: scale(1.3)
}


.email-icon{
  margin-right:0;
}


/* .logo {
  height:45%;
  left:50%;
  position:absolute;
  top:50%;
  width:200px;
  -webkit-transform:translate(-50%,-50%);
  -moz-transform:translate(-50%,-50%);
  -o-transform:translate(-50%,-50%);
  -ms-transform:translate(-50%,-50%);
  transform:translate(-50%,-50%);
  text-align:center;opacity:0;visibility:hidden;margin-top:-20px;
} */

.logo {
  text-align: center;
}

.logo img{
  /* height:100%; */
  /* left:50%; */
  /* position:absolute; */
  /* top:0; */
  width:50%;
  /* height: 50%; */
  /* transition: transform .5s; */
}


.logo img:hover {
  transform: scale(1.11)
}


label.hamburger {
  z-index: 9999;
  display: block;
  height: 50px;
  width: 50px;
  /* float: right; */
  /* border:4px solid orangered */
  position: absolute;
  top: 15px;
  right: 3.5%;
  transform: scale(.7);
  transition: transform .5s; /* Animation */
}


label.hamburger:hover i,
label.hamburger:hover i::before,
label.hamburger:hover i:after {
  cursor: pointer;
  background-color: #990000;
}


label.hamburger text close,
label.hamburger text open {
  text-transform: uppercase;
  font-size: 0.8em;
  align-text: center;
  position: absolute;
  transform: translateY(50px);
  text-align: center;
  overflow: hidden;
  transition: width 0.25s 0.35s;
}


label.hamburger text close {
  color: rgba(0, 0, 0, 0);
  right: 0;
  width: 0;
}


label.hamburger text open {
  color: #fff;
  width: 100%;
}


label.hamburger > i {
  position: absolute;
  width: 100%;
  height: 2px;
  top: 50%;
  background-color: #a58945;
  pointer-events: auto;
  /* transition-duration: 0.35s; */
  /* transition-delay: 0.35s; */
}


label.hamburger > i:before,
label.hamburger > i:after {
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  left: 50%;
  background-color: #a58945;
  content: "";
  transform-origin: 50% 50%;
}


label.hamburger > i:before {
  transform: translate(-50%, -14px);
}


label.hamburger > i:after {
  transform: translate(-50%, 14px);
}


/* .logo{
  opacity:1;
  visibility:visible;
  margin-top:0;
} */


@media all and (max-width:1024px){
  .navbar {
      height:80px!important;
      line-height:60px;
      overflow: hidden;
  }

  .media-link {
      font-size:24px;
  }

  .menu-icon{
      font-size:12px;
  }


}


@media all and (max-width:768px){

  .menu-icon{
    right:30px;
  }

}



/* -----------///////////////////SIDE MENU STYLING/////////////////// -----------*/



.drawer-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}


.drawer-list {
  background: rgba(0, 0, 0, 0.7);
  box-sizing: border-box;
  height: 100vh;
  -ms-transform: translatex(-100vw);
  padding-top: 125px;
  pointer-events: none;
  position: fixed;
  right: 0;
  transform: translate(100vw, 0);
  transition: width 575ms ease-out, transform 550ms ease;
  top: 0;
  width: 100vw;
  opacity: 1;
  overflow: hidden;
  z-index: 100;
}


@media (min-width: 768px) {
  .drawer-list {
    width: 40vw;
  }
}


.drawer-list ul {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
  overflow-x: hidden;
  pointer-events: auto;
}


.drawer-list li {
  list-style: none;
  pointer-events: auto;
  white-space: nowrap;
  box-sizing: border-box;
  transform: translatex(100vw);
  -ms-transform: translatex(-100vw);
}


.drawer-list li:last-child {
  margin-bottom: 2em;
}


.drawer-list ul li a {
  color: #fff;
  display: block;
  font-family:"Libre Baskerville",serif;
  font-size: 2vw;
  font-weight:500;
  line-height:3.5vw;
  padding: .5rem;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
}


@media (min-width: 768px) {
  .drawer-list li a {
    color: #fff;
    display: block;
    font-family:"Libre Baskerville",serif;
    font-size: 2.5vw;
    font-weight:500;
    line-height:3.5vw;
    padding: 0.5rem;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
  }
}


.drawer-list li a:hover {
  cursor: pointer;
  color: #990000;
}


input.hamburger {
  display: none;
}


input.hamburger:checked ~ .drawer-list {
  transform: translatex(0);
  border-bottom-left-radius: 0;
  opacity: 1;
  overflow: hidden;

}


input.hamburger:checked ~ .drawer-list li {
  transform: translatex(0);
  opacity: 1;
}


input.hamburger:checked ~ .drawer-list li a {
  padding-right: 15px;
  opacity: 1;
}


input.hamburger:checked ~ label > i {
  background-color: transparent;
  transform: rotate(90deg);
}


input.hamburger:checked ~ label > i:before {
  transform: translate(-50%, -50%) rotate(45deg);
}


input.hamburger:checked ~ label > i:after {
  transform: translate(-50%, -50%) rotate(-45deg);
}


input.hamburger:checked ~ label close {
  color: #fff;
  width: 100%;
}


input.hamburger:checked ~ label open {
  color: rgba(0, 0, 0, 0);
  width: 0;
}

/* ----------- ///////////////////EVENT DETAILS ACCORDION ///////////////////----------- */



.event-details-inner h2 {
  /* margin: 0 0 0.5em;
  font-weight: normal;
  text-align: center;
  font-size:1.23vw;
  font-family:'Poppins',serif;
  font-weight:600;
  letter-spacing:1px;
  text-transform:uppercase;
  font-size:1.23vw; */

  -webkit-background-clip:text;
  -moz-background-clip:text;
  -moz-text-fill-color:#990000;
  color:#990000;
  font-size:2.2vw;
  line-height:3.172vw;
  font-weight:600;
  text-align: center;
  text-transform: uppercase;
  margin: 1% 0;
  /* border: 3px solid yellow; */
  margin: 0;

}

.tab input {
  position: absolute;
  opacity: 0;
  z-index: -1;
  /* border:2px solid yellow; */
  /* z-index: 100; */
}

.event-details {
  display: flex;
}

.event-details-inner {
  flex: 1;
}

.event-details-inner:last-child {
  margin-left: 1em;
}

/* Accordion styles */
/* .tabs {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
} */

.tab {
  width: 100%;
  overflow: hidden;
}

.tab-label {
  display: flex;
  justify-content: center;
  /* padding: .5em; */
  font-weight: bold;
  cursor: pointer;
  /* border: 3px solid salmon; */
  /* Icon */
}

.tab-label:hover svg{
  /* background: #1a252f; */
  /* fill: #fff; */
  fill: #a58945;
}


svg {
  /* content: "❯❯"; */
  /* width: 3em; */
  /* height: 3em; */
  /* font-size: 50px; */
  text-align: center;
  transition: all 0.35s;
  fill: #fff;
  width: 3.5%;
}


.tab-content {
  max-height: 0;
  padding: 0 1em;
  transition: all 0.35s;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  text-align: center;

}


.detail {
  /* display: flex; */
  /* justify-content: center; */
  /* flex-direction: column; */
  /* display: inline; */
  padding: .5%;

}

.detail svg {
  fill: #a58945;
  width: 2.5%;
}

.detail p {
  color: #fff;
  line-height: 3vh;
  font-family:"Libre Baskerville",serif;
  font-size: 1vw;
  font-weight:500;
  line-height:1.4vw;
}

input:checked ~ .tab-label {
    transform: rotate(180deg);
}


input:checked ~ .tab-content {
  max-height: 105vh;
  padding: 1em;
}








/*----------- ///////////////////VIDEO HEADER STYLING///////////////////----------- */



.top-banner {
  /* border: 3px solid purple; */
  font-family:'Poppins',serif;
  font-weight:600;
  text-transform:uppercase;
  letter-spacing:1px;
  font-size:1.23vw;
  margin-left: 13%;
}


.top-banner span {
  /* color: #990000; */
  font-family: 'Nickainley', sans-serif;
  text-transform: lowercase;
  font-size: 1.9vw;
  font-weight:400;
}


.banner {
  max-height: 100%;
  overflow: hidden;
  position: relative;
  margin-top: .5%;
}


.banner img {
  width: 100%;
  height: 80%;
  object-fit: cover;
  filter:opacity(50%)
}


.banner span {
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  font-family:"Libre Baskerville",serif;
  font-size:12.55vw;
  font-weight:700;
  white-space: nowrap;
}


.below-banner {
  font-size:1.23vw;
  font-family:'Poppins',serif;
  font-weight:600;
  letter-spacing:1px;
  text-transform:uppercase;
  font-size:1.23vw;
  margin-left: 70%;
  margin-bottom: 2.5%;
}

.below-banner span {
  color: #990000;
}


@media all and (max-width:1024px){
  /* .top-banner{ */
    /* font-size:12px; */
    /* line-height:14px; */
    /* margin-left:-1.222vw; */
    /* margin-top:10px; */
    /* left: 100px; */
    /* position:absolute; */
    /* -webkit-transform:none!important; */
    /* -moz-transform:none!important; */
    /* -o-transform:none!important; */
    /* -ms-transform:none!important; */
    /* transform:none!important;} */

}



/* @media all and (max-width:1024px){
.on-banner{
  -webkit-transform:none!important;-moz-transform:none!important;-o-transform:none!important;-ms-transform:none!important;transform:none!important;}

  .on-banner{font-size:12px;line-height:14px;margin-left:-1.222vw;margin-top:10px;-webkit-transform:none!important;-moz-transform:none!important;-o-transform:none!important;-ms-transform:none!important;transform:none!important;}
} */
/*
@media all and (max-width:768px){
  .on-banner{font-size:90px;line-height:90px;
display:block;left:100px;margin-bottom:10px;}
} */
/* @media all and (max-width:535px){
  .on-banner{font-size:70px;line-height:70px;}
} */
/* @media all and (max-width:425px){
  .on-banner{font-size:50px;line-height:50px;}
} */





/* @media all and (max-width:1024px){
  .below-banner{
    font-size:12px;
    line-height:14px;
    margin-left:-1.222vw;
    margin-top:10px;
    position:absolute;
    -webkit-transform:none!important;
    -moz-transform:none!important;
    -o-transform:none!important;
    -ms-transform:none!important;
    transform:none!important;}

} */

/*
@media all and (max-width:768px){
  .top-banner{
    display:block;
    margin-left:0;
    left:0;
    position:absolute;
    margin-bottom:10px;
  }
} */



/*----------- ///////////////////EVENT DESCRIPTION STYLING///////////////////----------- */
.event-desc {
  /* border: 4px solid violet; */
  margin: 0 auto;
  padding: 1%;
  text-align: center;
}

.event-desc:after {
  content: "";
  display: block;
  clear: both;
}

.event-desc-left,
.event-desc-right {
  float: left;
  width:46%;
  margin:1%;
  padding: 1%;

}

.event-desc-left {
  /* border: 4px solid teal; */
  margin-top: 6%;

}

.event-desc-left span {
  -webkit-background-clip:text;
  -webkit-text-fill-color:#fff;
  -moz-background-clip:text;
  -moz-text-fill-color:#fff;
  color:#fff;
  font-size:2.2vw;
  line-height:3.172vw;
  font-weight:600;
  text-align: center;
  text-transform: uppercase;
  margin: 1% 0;
  /* border: 3px solid #990000; */
}

.event-desc-left p {
  font-size:1.639vw;
  line-height:2vw;
  font-weight:500;
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;
  -moz-background-clip:text;
  -moz-text-fill-color:transparent;
  color:#a58945;
  background-size:cover;
  background-image:url(/Gold_1_new.jpg);
}

.event-desc-right {
  /* border: 4px solid fuchsia; */
}

.event-desc-right img {
  width: 100%;
  height: 100%;
  filter:opacity(50%);
}

@media all and (max-width:768px) {
  .event-desc-left span {
    font-size:1.639vw;
    line-height:3.472vw;
  }
}

@media all and (-ms-high-contrast:none),(-ms-high-contrast:active){
  .event-desc-left p{
    -webkit-text-fill-color:#a58945!important;
  }
}



/*----------- ///////////////////CO-CHAIR GALLERY STYLING///////////////////----------- */


.co-chair-gallery {
  /* background-color: rgba(229, 229, 229, 1); */
  /* height: 30vh; */
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  /* padding: 50px; */
  /* border: 4px solid turquoise; */
}

/* .fixed {
  text-align: center;
} */

/* .top {
  font-family:'Poppins',serif;
  font-weight:600;
  text-transform:uppercase;
  letter-spacing:1px;
  font-size:1.23vw;
} */

/* .bottom {
  margin-top: -.5%;
  font-family:"Libre Baskerville",serif;
  font-size:8vw;
  font-weight:600;
} */

.co-chair-gallery-top-header {
  font-family:'Poppins',serif;
  font-weight:600;
  text-transform:uppercase;
  letter-spacing:1px;
  font-size:1.23vw;
  margin-left: 36.55%;
}

.co-chair-gallery-btm-header {
  /* position: absolute; */
  /* top:50%; */
  /* left:50%; */
  /* transform: translate(50%, 50%); */
  /* -webkit-transform: translate(-50%, -50%); */
  text-align: center;
  margin-top: -.5%;
  font-family:"Libre Baskerville",serif;
  font-size:8vw;
  font-weight:600;
  white-space: nowrap;

}

.co-chair-gallery:after {
  content: "";
  display: block;
  clear: both;
}

.grid {
  max-width: 1000px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;


}

.grid-item {
  min-width: 250px;
  max-width: 250px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 250px;
          flex: 1 1 250px;
  padding-left: .5rem;
  padding-right: .5rem;
  margin-bottom: 1rem;
}

/* .wrapper {
  min-height: 100vh;
  padding: 2rem 0;
  background: #40424a;
  color: #e4e4e8;
  font-family: 'Roboto', sans-serif;
  text-align: center;
} */


.grid-item figure {
  /* padding: 0;
  margin: 0; */
  position: relative;
}

.grid-item figure img {
  display: block;
  /* max-width: 100%; */

  object-fit: cover;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: relative;
  box-shadow: 0 0 0 #000 0;
  opacity: 0.67;
  /* display: block; */

}


.grid-item figcaption {
  /* display: block;
  padding: .625rem .5rem;
  text-transform:uppercase;
  font-weight:600;
  letter-spacing:1px;
  font-family:'Poppins',serif;
  color:#a58945;
  font-size:14px;
  line-height:18px;
  transform: translateY(5px);
  text-align: center; */

  background: linear-gradient(0deg, rgba(0, 0, 0, .5) 0%, rgba(255, 255, 255, 0) 100%);
  bottom: 0;
  /* color: white; */
  cursor: pointer;
  /* font-family: 'PT Serif', serif; */
  /* font-size: 16px; */
  left: 0;
  opacity: 1;
  position: absolute;
  width: 100%;
  padding: 25px 15px 15px;
  font-family:'Poppins',serif;
  color:#a58945;
  font-size:14px;
  line-height:18px;
  text-transform:uppercase;
  font-weight:600;

}
























@font-face{font-family:'Poppins';font-style:normal;font-weight:400;src:url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJbecmNE.woff2) format('woff2');unicode-range:U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;}

@font-face{font-family:'Poppins';font-style:normal;font-weight:400;src:url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJnecmNE.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}

@font-face{font-family:'Poppins';font-style:normal;font-weight:400;src:url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJfecg.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}

@font-face{font-family:'Poppins';font-style:normal;font-weight:500;src:url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLGT9Z11lFc-K.woff2) format('woff2');unicode-range:U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;}

@font-face{font-family:'Poppins';font-style:normal;font-weight:500;src:url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLGT9Z1JlFc-K.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}

@font-face{font-family:'Poppins';font-style:normal;font-weight:500;src:url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLGT9Z1xlFQ.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}

@font-face{font-family:'Poppins';font-style:normal;font-weight:600;src:url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLEj6Z11lFc-K.woff2) format('woff2');unicode-range:U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;}

@font-face{font-family:'Poppins';font-style:normal;font-weight:600;src:url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLEj6Z1JlFc-K.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}

@font-face{font-family:'Poppins';font-style:normal;font-weight:600;src:url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLEj6Z1xlFQ.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}

@font-face{font-family:'Poppins';font-style:normal;font-weight:700;src:url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLCz7Z11lFc-K.woff2) format('woff2');unicode-range:U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;}

@font-face{font-family:'Poppins';font-style:normal;font-weight:700;src:url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLCz7Z1JlFc-K.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}

@font-face{font-family:'Poppins';font-style:normal;font-weight:700;src:url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLCz7Z1xlFQ.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}

@font-face{font-family:'Libre Baskerville';font-style:normal;font-weight:400;src:url(https://fonts.gstatic.com/s/librebaskerville/v14/kmKnZrc3Hgbbcjq75U4uslyuy4kn0qNXaxMICA.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}

@font-face{font-family:'Libre Baskerville';font-style:normal;font-weight:400;src:url(https://fonts.gstatic.com/s/librebaskerville/v14/kmKnZrc3Hgbbcjq75U4uslyuy4kn0qNZaxM.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}

@font-face{font-family:'Libre Baskerville';font-style:normal;font-weight:700;src:url(https://fonts.gstatic.com/s/librebaskerville/v14/kmKiZrc3Hgbbcjq75U4uslyuy4kn0qviTgY5KcCsww.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}

@font-face{font-family:'Libre Baskerville';font-style:normal;font-weight:700;src:url(https://fonts.gstatic.com/s/librebaskerville/v14/kmKiZrc3Hgbbcjq75U4uslyuy4kn0qviTgY3KcA.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
