
/* ----------- ///////////////////PRELOADER STYLING ///////////////////----------- */

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #a58945;
  z-index: 400;
}

@keyframes vanish {
  100% {
      opacity: 0;
      visibility: hidden;
  }
}

.disappear {
  animation: vanish 2s forwards;
  animation-delay: 2s;
}

#pyramid-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: fit-content;
  height: fit-content;
  top: -21px;
  /* opacity: 1; */
  animation: fade-container 2s linear;
  animation-delay: 8s;
  /* border: 4px solid blue; */
  /* width: 50%; */
  /* height: 50%; */
}


#title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: avenir;
  font-weight: 600;
  font-size: 25px;
  padding: 10px;
  left: -1200px;
  -webkit-animation: slide 2s forwards;
  animation: slide 2s forwards;
}


@keyframes fade-container {
  0% { opacity: 0 }
  15%, 85% { opacity: 1 }
  100% {
      opacity: 0;
      display: none;
      visibility: hidden;
  }
}

.remove-pyramid-container {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s;
}

#top-row-container,
#third-row-container,
#second-row-container,
#bottom-row-container {
  /* width: 500px; */
  height: 80px;
  /* height: 8vw; */
  /* border: 1px solid red; */
  /* border: 2px solid #f77d30; */
  display: flex;
  justify-content: space-evenly;
}

#boll1 {
  background: #f7adc6;
}

#boll2 {
  background: #7ad1eb;
}

#boll3 {
  background: #613b1a;
}

#boll4 {
  background: #070707;
}

#boll5 {
  background: #603d94;
}

#boll6 {
  background: #458bc7;
}

#boll7 {
  background: #0d8545;
}

#boll8 {
  background: #f8e019;
}

#boll9 {
  background: #f77d30;
}

#boll10 {
  background: #d41e33;
}

#boll1, #boll2, #boll3, #boll4, #boll5,
#boll6, #boll7, #boll8, #boll9, #boll10 {
/* background: #f00; */
  border-radius: 100%;
  height: 55px;
  width: 55px;
  /* height: 50%; */
  /* width: 50%; */
  position: absolute;
  bottom: 0;
  /* left: 0; */
  animation: studs 0.15s ease-out infinite alternate;
}

body:hover #boll,
body:hover #frame {
  animation-play-state: paused;
}

.frame1 {
  top: -600px;
  animation: gravity 2s ease-in both;
}

.frame2 {
  top: -600px;
  animation: gravity 1.5s ease-in both;
}

.frame3 {
  top: -600px;
  animation: gravity 1.7s ease-in both;
}

.frame4 {
  top: -600px;
  animation: gravity 1.1s ease-in both;
}

.frame5 {
  top: -600px;
  animation: gravity 1.85s ease-in both;
}

.frame6 {
  top: -600px;
  animation: gravity 1.35s ease-in both;
}

.frame7 {
  top: -600px;
  animation: gravity 1.45s ease-in both;
}

.frame8 {
  top: -600px;
  animation: gravity 1.32s ease-in both;
}

.frame9 {
  top: -600px;
  animation: gravity 1.7s ease-in both;
}

.frame10 {
  top: -600px;
  animation: gravity 2.5s ease-in both;
}

.frame1, .frame2, .frame3, .frame4, .frame5,
.frame6, .frame7, .frame8, .frame9, .frame10 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 300px;
  width: 100px;
}

.new-frame {
  top: -600px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 300px;
  width: 100px;
}

@keyframes studs {
to {
  bottom: 100%;
}
}

@keyframes gravity{
to {
  height: 0px;
  margin-top: 700px;
}
}


#title {
  width: 370px;
}

#title-img {
  width: 715px;
  /* width: 20%; */
}

@-webkit-keyframes slide {
  25%, 85% { left: 0; }
  100% { left: 1200px }
}

@keyframes slide {
  25%, 85% { left: 0; }
  100% { left: 1200px }
}


@keyframes fade-in {
  0% { opacity: 0 }
  /* 15%, 85% { opacity: 1 } */
  100% {
      opacity: 1;
      display: flex;
      /* visibility: hidden; */
  }
}


.bounce-ball {
  animation: bounce 0.3s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes bounce {
  from { transform: translate3d(0, 0, 0);     }
  to   { transform: translate3d(0, 10px, 0); }
}

.bounce-ball2 {
  animation: bounce2 0.3s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes bounce2 {
  from { transform: translate3d(0, 10px, 0);     }
  to   { transform: translate3d(0, 0, 0); }
}

.bounce-ball3 {
  animation: bounce3 0.18s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes bounce3 {
  from { transform: translate3d(0, 10px, 0);     }
  to   { transform: translate3d(0, 0, 0); }
}

.bounce-ball4 {
  animation: bounce4 0.33s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes bounce4 {
  from { transform: translate3d(0, 10px, 0);     }
  to   { transform: translate3d(0, 0, 0); }
}

.bounce-ball5 {
  animation: bounce5 0.2s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes bounce5 {
  from { transform: translate3d(0, 10px, 0);     }
  to   { transform: translate3d(0, -10px, 0); }
}

.bounce-ball6 {
  animation: bounce6 0.28s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes bounce6 {
  from { transform: translate3d(0, 10px, 0);     }
  to   { transform: translate3d(0, 0, 0); }
}

.bounce-ball7 {
  animation: bounce7 0.34s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes bounce7 {
 from { transform: translate3d(0, 10px, 0);     }
  to   { transform: translate3d(0, 0, 0); }
}

.bounce-ball8 {
  animation: bounce8 0.19s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes bounce8 {
 from { transform: translate3d(0, 10px, 0);     }
  to   { transform: translate3d(0, 0, 0); }
}

.bounce-ball9 {
  animation: bounce9 0.39s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes bounce9 {
 from { transform: translate3d(0, 10px, 0);     }
  to   { transform: translate3d(0, 0, 0); }
}

.bounce-ball10 {
  animation: bounce7 0.17s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes bounce10 {
 from { transform: translate3d(0, 10px, 0);     }
  to   { transform: translate3d(0, 0, 0); }
}



/* -----------///////////////////BODY STYLING///////////////////----------- */


*{
  box-sizing:border-box;
  border-collapse:inherit;
  text-rendering:optimizeLegibility;
  -moz-osx-font-smoothing:grayscale;
  -webkit-font-smoothing:antialiased;
  -webkit-tap-highlight-color:transparent;
}


body,
html {
  background-color: #1f1f1f;
  text-rendering:optimizeLegibility;
  text-rendering:geometricPrecision;
  -moz-osx-font-smoothing:grayscale;
  -webkit-font-smoothing:antialiased;
  font-family:'Poppins',serif;
  min-height:-webkit-fill-available;
  letter-spacing:-.2px;
  scroll-behavior:smooth;
  overflow-x: hidden;
}


body {
  padding: 0;
  margin: 0;
}

/* width of the entire scrollbar */
::-webkit-scrollbar {
  width: .5vw;
}

/* color of the tracking area */
::-webkit-scrollbar-track {
  background: #1f1f1f;
}

::-webkit-scrollbar-thumb {
  background-color: #990000;   /* color of the scroll thumb */
  border-radius: 1vw;      /*  roundness of the scroll thumb */
  border: .05vw solid #1f1f1f; /*creates padding around scroll thumb*/
}


*:focus{
  outline:none;
}

::selection{
  background: #990000;
  color:#fff;
  -webkit-text-fill-color:#fff;
  -moz-text-fill-color:#fff;
}


a {
  text-decoration:none;
}



/*----------- ///////////////////NAV BAR STYLING/////////////////// -----------*/


.navbar {
  margin: 0 auto;
}


.navbar:after {
  content: "";
  display: block;
  clear: both;
}


.socials {
  float:left;
  width: 29.33%;
  margin: 1%;
  padding: 1%;
}


.email-icon{
  margin-right:0;
}


.media-link {
  margin-right:1.5vw;
  padding:.5vw;
}


.media-link svg {
  width: 8%;
}


.media-link svg,
.menu-icon svg {
  fill:#a58945;
  transition: transform .5s;
}


.menu-icon svg {
  width: 10%;
}


.media-link svg:hover,
.menu-icon svg:hover {
  fill: #990000;
  transform: scale(1.3);
}


.logo {
  float:left;
  width: 29.33%;
  margin: 1%;
  padding: 1%;
}


.logo {
  text-align: center;
}


.logo img{
  width:50%;
}


.logo img:hover {
  transform: scale(1.11)
}


.menu-icon {
  float:right;
  width: 29.33%;
  margin: 1%;
  padding: 1%;
  text-align: right;
}


@media all and (max-width:1024px){
  .navbar {
      /* height:80px!important; */
      /* line-height:60px; */
      overflow: hidden;
  }

}


@media all and (max-width:768px){

  .menu-icon{
    /* right:30px; */

  }

}



/* -----------///////////////////SIDE MENU STYLING/////////////////// -----------*/


.close-icon {
  text-align: right;
  margin-bottom: 115px;
  margin-right: 10px;
}


.close-icon svg {
  color:#a58945;
  transition: transform .5s;
  width: 8%;
}


.close-icon svg:hover  {
  color: #990000;
  transform: scale(1.3)
}


.side-menu {
  background: rgba(0, 0, 0, 0.7);
  box-sizing: border-box;
  height: 100vh;
  -ms-transform: translatex(-100vw);
  padding-top: 13px;
  position: fixed;
  right: 0;
  transform: translate(100vw, 0);
  transition: width 575ms ease-out, transform 550ms ease;
  top: 0;
  width: 100vw;
  opacity: 1;
  overflow: hidden;
  z-index: 100;
}


.side-menu a {
  color: #fff;
  display: block;
  font-family:"Libre Baskerville",serif;
  font-size: 2vw;
  font-weight:500;
  line-height:3.5vw;
  padding: .5rem;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
}


.side-menu a:hover {
/* background-color: #166e67; */
  color: #990000;
}


@media (min-width: 768px) {
  .side-menu {
    width: 40vw;
  }
}


.show {
  transform: translatex(0);
  border-bottom-left-radius: 0;
  opacity: 1;
  overflow: hidden;
}

.hide-menu {
  display: none;
}



/*----------- ///////////////////VIDEO HEADER STYLING///////////////////----------- */



.top-banner {
  font-family:'Poppins',serif;
  font-weight:600;
  text-transform:uppercase;
  letter-spacing:1px;
  font-size:1.23vw;
  margin-left: 13%;
  color: #fff;
}


.top-banner span {
  color: #fff;
  font-family: 'Nickainley', sans-serif;
  text-transform: lowercase;
  font-size: 1.9vw;
  font-weight:400;
}


.banner {
  max-height: 100%;
  overflow: hidden;
  position: relative;
  margin-top: .5%;
}


.banner img {
  width: 100%;
  height: 80%;
  object-fit: cover;
  filter:opacity(50%)
}


.banner span {
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  font-family:"Libre Baskerville",serif;
  font-size:12.55vw;
  font-weight:700;
  white-space: nowrap;
  color: #fff;
}


.below-banner {
  font-size:1.23vw;
  font-family:'Poppins',serif;
  font-weight:600;
  letter-spacing:1px;
  text-transform:uppercase;
  font-size:1.23vw;
  margin-left: 70%;
  margin-bottom: 2.5%;
}


.below-banner p {
  color: #fff;
}


@media all and (max-width:1024px){
  /* .top-banner{ */
    /* font-size:12px; */
    /* line-height:14px; */
    /* margin-left:-1.222vw; */
    /* margin-top:10px; */
    /* left: 100px; */
    /* position:absolute; */
    /* -webkit-transform:none!important; */
    /* -moz-transform:none!important; */
    /* -o-transform:none!important; */
    /* -ms-transform:none!important; */
    /* transform:none!important;} */

}



/* @media all and (max-width:1024px){
.on-banner{
  -webkit-transform:none!important;-moz-transform:none!important;-o-transform:none!important;-ms-transform:none!important;transform:none!important;}

  .on-banner{font-size:12px;line-height:14px;margin-left:-1.222vw;margin-top:10px;-webkit-transform:none!important;-moz-transform:none!important;-o-transform:none!important;-ms-transform:none!important;transform:none!important;}
} */
/*
@media all and (max-width:768px){
  .on-banner{font-size:90px;line-height:90px;
display:block;left:100px;margin-bottom:10px;}
} */
/* @media all and (max-width:535px){
  .on-banner{font-size:70px;line-height:70px;}
} */
/* @media all and (max-width:425px){
  .on-banner{font-size:50px;line-height:50px;}
} */





/* @media all and (max-width:1024px){
  .below-banner{
    font-size:12px;
    line-height:14px;
    margin-left:-1.222vw;
    margin-top:10px;
    position:absolute;
    -webkit-transform:none!important;
    -moz-transform:none!important;
    -o-transform:none!important;
    -ms-transform:none!important;
    transform:none!important;}

} */

/*
@media all and (max-width:768px){
  .top-banner{
    display:block;
    margin-left:0;
    left:0;
    position:absolute;
    margin-bottom:10px;
  }
} */

/* ----------- ///////////////////EVENT DETAILS ACCORDION ///////////////////----------- */



.event-details-inner h2 {
  -webkit-background-clip:text;
  -moz-background-clip:text;
  -moz-text-fill-color:#990000;
  color:#990000;
  font-size:2.2vw;
  line-height:3.172vw;
  font-weight:600;
  text-align: center;
  text-transform: uppercase;
  margin: 1% 0;
  margin: 0;
}


.tab {
  width: 100%;
  overflow: hidden;
}


.tab input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}


input:checked ~ .tab-label {
    transform: rotate(180deg);
}


input:checked ~ .tab-content {
  max-height: 105vh;
  padding: 1em;
}
.tab-label {
  display: flex;
  justify-content: center;
  font-weight: bold;
  cursor: pointer;
}


.tab-label svg {
  transition: all 0.35s;
  fill: #fff;
  width: 3.5%;
}

.tab-label:hover svg{
  fill: #a58945;
}


.tab-content {
  max-height: 0;
  padding: 0 1em;
  transition: all 0.35s;
  text-align: center;
}


.detail {
  padding: .5%;
}


.detail svg {
  fill: #a58945;
  width: 2.5%;
}

.detail p {
  color: #fff;
  line-height: 3vh;
  font-family:"Libre Baskerville",serif;
  font-size: 1vw;
  font-weight:500;
  line-height:1.4vw;
}


.event-details {
  display: flex;
}

.event-details-inner {
  flex: 1;
}

.event-details-inner:last-child {
  margin-left: 1em;
}



/*----------- ///////////////////EVENT DESCRIPTION STYLING///////////////////----------- */
.event-desc {
  margin: 0 auto;
  padding: 1%;
  text-align: center;
  margin-bottom: 7%;
}


.event-desc:after {
  content: "";
  display: block;
  clear: both;
}


.event-desc-left,
.event-desc-right {
  float: left;
  width:46%;
  margin:1%;
  padding: 1%;

}


.event-desc-left {
  margin-top: 6%;
}


.event-desc-left span {
  -webkit-background-clip:text;
  -webkit-text-fill-color:#fff;
  -moz-background-clip:text;
  -moz-text-fill-color:#fff;
  color:#fff;
  font-size:2.2vw;
  line-height:3.172vw;
  font-weight:600;
  text-align: center;
  text-transform: uppercase;
  margin: 1% 0;
}


.event-desc-left p {
  font-size:1.639vw;
  line-height:2vw;
  font-weight:500;
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;
  -moz-background-clip:text;
  -moz-text-fill-color:transparent;
  color:#a58945;
  background-size:cover;
  background-image:url(/assets/Gold_1_new.jpg);
  margin-bottom: 4%;
}


.event-desc-right img {
  width: 100%;
  height: 100%;
  filter:opacity(50%);
}

@media all and (max-width:768px) {
  .event-desc-left span {
    font-size:1.639vw;
    line-height:3.472vw;
  }
}

@media all and (-ms-high-contrast:none),(-ms-high-contrast:active){
  .event-desc-left p{
    -webkit-text-fill-color:#a58945!important;
  }
}



/*----------- ///////////////////CO-CHAIR GALLERY STYLING///////////////////----------- */



.co-chair-gallery-top-header {
  font-family:'Poppins',serif;
  font-weight:600;
  text-transform:uppercase;
  letter-spacing:1px;
  font-size:1.23vw;
  margin-left: 36.55%;
  color: #fff;
}


.co-chair-gallery-btm-header {
  text-align: center;
  margin-top: -.5%;
  font-family:"Libre Baskerville",serif;
  font-size:8vw;
  font-weight:600;
  white-space: nowrap;
  color: #fff;
}


.co-chair-gallery {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}


.grid {
  max-width: 100%;
  margin: 0% 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  -webkit-box-pack: center;
    -ms-flex-pack: center;
      justify-content: center;

}


.grid-item {

  -webkit-box-flex: 1;
      /* -ms-flex: 1 1 250px; */
          /* flex: 1 1 250px; */
          padding-left: 1%;
          padding-right: 1%;
          margin-bottom: 1%;
  min-width: 10%;
  max-width: 25%;
}

.grid-item figure {
  padding: 0;
  margin: 0;
  position: relative;
  overflow: hidden;
  max-width: 100%;
  -webkit-text-size-adjust:none;
  -ms-text-size-adjust:none;
  -moz-text-size-adjust:none;
}


.grid-item figure img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}


.grid-item figcaption {
  display: block;
  text-transform:uppercase;
  font-family:'Poppins',serif;
  color:#a58945;
  background: linear-gradient(0deg, rgba(0, 0, 0, .5) 0%, rgba(255, 255, 255, 0) 100%);
  bottom: 0;
  left: 0%;
  opacity: 1;
  position: absolute;
  width: 100%;
  text-size-adjust:none;
  -webkit-text-size-adjust:none;
  -ms-text-size-adjust:none;
  -moz-text-size-adjust:none;
  font-weight:600;
  max-height: 15%;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  font-size: 1.5vw;
}



@media screen and (max-device-width: 480px) {
  /* .grid-item figcaption { font-size: 1.2em;} */
}

@media (min-width: 640px) {

}

@media (min-width: 768px) {

}

@media (min-width: 1024px) {

}

@media (min-width: 1200px) {

}



@font-face{font-family:'Poppins';font-style:normal;font-weight:400;src:url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJbecmNE.woff2) format('woff2');unicode-range:U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;}

@font-face{font-family:'Poppins';font-style:normal;font-weight:400;src:url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJnecmNE.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}

@font-face{font-family:'Poppins';font-style:normal;font-weight:400;src:url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJfecg.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}

@font-face{font-family:'Poppins';font-style:normal;font-weight:500;src:url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLGT9Z11lFc-K.woff2) format('woff2');unicode-range:U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;}

@font-face{font-family:'Poppins';font-style:normal;font-weight:500;src:url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLGT9Z1JlFc-K.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}

@font-face{font-family:'Poppins';font-style:normal;font-weight:500;src:url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLGT9Z1xlFQ.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}

@font-face{font-family:'Poppins';font-style:normal;font-weight:600;src:url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLEj6Z11lFc-K.woff2) format('woff2');unicode-range:U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;}

@font-face{font-family:'Poppins';font-style:normal;font-weight:600;src:url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLEj6Z1JlFc-K.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}

@font-face{font-family:'Poppins';font-style:normal;font-weight:600;src:url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLEj6Z1xlFQ.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}

@font-face{font-family:'Poppins';font-style:normal;font-weight:700;src:url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLCz7Z11lFc-K.woff2) format('woff2');unicode-range:U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;}

@font-face{font-family:'Poppins';font-style:normal;font-weight:700;src:url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLCz7Z1JlFc-K.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}

@font-face{font-family:'Poppins';font-style:normal;font-weight:700;src:url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLCz7Z1xlFQ.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}

@font-face{font-family:'Libre Baskerville';font-style:normal;font-weight:400;src:url(https://fonts.gstatic.com/s/librebaskerville/v14/kmKnZrc3Hgbbcjq75U4uslyuy4kn0qNXaxMICA.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}

@font-face{font-family:'Libre Baskerville';font-style:normal;font-weight:400;src:url(https://fonts.gstatic.com/s/librebaskerville/v14/kmKnZrc3Hgbbcjq75U4uslyuy4kn0qNZaxM.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}

@font-face{font-family:'Libre Baskerville';font-style:normal;font-weight:700;src:url(https://fonts.gstatic.com/s/librebaskerville/v14/kmKiZrc3Hgbbcjq75U4uslyuy4kn0qviTgY5KcCsww.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}

@font-face{font-family:'Libre Baskerville';font-style:normal;font-weight:700;src:url(https://fonts.gstatic.com/s/librebaskerville/v14/kmKiZrc3Hgbbcjq75U4uslyuy4kn0qviTgY3KcA.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
